<div class="flex flex-col">
  <h1 class="text-3xl font-bold text-gray-600 mb-5">Today</h1>
  <i class="fa-solid fa-trash"></i>

  <div class="mb-5">
    <ul>
      <% @tasks.each do |task| %>
        <li>
          <%= task.title %>
          <%= button_to "Mark Done", task_path(task), method: :patch, params: { task: { status: "done" } } %>
          <%= link_to "Edit", "#TODO" %>
          <%= button_to "Delete", task_path(task), method: :delete %>
        </li>
      <% end %>
    </ul>
  </div>

  <div>
    <%= form_with model: @task, url: tasks_path, local: true do |f| %>
      <%= f.text_field :title, placeholder: "Add a task..." %>
      <%= f.hidden_field :status, value: "pending" %>
      <%= f.submit "Add" %>
    <% end %>
  </div>
</div>
