<div class="flex flex-col">
  <h1 class="text-4xl font-bold text-gray-400 mb-6">Projects</h1>

  <div class="mb-5">
    <ul>
      <% @projects.each do |project| %>
        <%= link_to project_path(project), class: "" do %>
          <li class="flex items-center justify-between gap-2 py-2 border-b border-gray-300">
            <div class="flex w-full">
              <h3 class="text-2xl"><%= project.title %></h3>
              <p class="flex-shrink-0 text-xl"><%= project.description %></p>
            </div>
          </li>
        <% end %>
      <% end %>
    </ul>
  </div>

  <div>
    <%= form_with model: @project, local: true do |f| %>
      <%= f.text_field :title,
            placeholder: "Add a project",
            autocomplete: "off",
            class: "w-full whitespace-normal break-words focus:outline-none focus:border-b border-gray-400 text-gray-500" %>
      <%= f.text_field :description,
            placeholder: "Add a description",
            autocomplete: "off",
            class: "w-full whitespace-normal break-words focus:outline-none focus:border-b border-gray-400 text-gray-500" %>
      <%= f.submit "ADD" %>
    <% end %>
  </div>

  <footer class="fixed bottom-0 left-0 w-full py-4 z-50">
    <div class="flex justify-center">
      <%= link_to "Today", root_path, class:"bg-gray-200 px-4 py-2 rounded" %>
    </div>
  </footer>
</div>
