<div class="flex flex-col">
  <%= form_with model: @project, local: true do |f| %>
    <div class="">

      <h1 class="text-4xl font-bold text-gray-400 mb-2">
        <%= f.text_field :title, class: "flex justify-center"  %>
      </h1>

      <p class="flex justify-center">
        <%= f.text_field :description, class: ""  %>
      </p>
    </div>

    <footer class="fixed bottom-0 left-0 w-full py-4 z-50 mb-24">
      <div class="flex justify-center">
        <%= link_to "BACK", projects_path, class:"bg-gray-200 px-4 py-2 rounded" %>
        <%= f.submit "Save Changes", class:"bg-gray-200 px-4 py-2 rounded ml-2" %>
      </div>
    </footer>

  <% end %>
</div>

<div class="mb-5" data-controller="trash-icon" data-action="click@window->trash-icon#hideAllIcons">
  <ul>
    <% @sections.each do |section| %>
      <li class="flex flex-col gap-2 py-2 border-b border-gray-300" data-controller="expand">
        <div class="flex flex-row justify-between items-center">
          <h3 class="text-2xl mb-2"><%= section.title %></h3>
          <div data-action="click->expand#showSection">
            <i class="fa-solid fa-angle-right mr-5" data-expand-target="icon"></i>
          </div>
        </div>

        <div data-expand-target="tasksList" class="hidden">
          <ul>
            <% section.tasks.each do |task| %>
              <li class="flex items-center justify-between gap-2">
                <%= form_with model: [@project, section, task], url: project_section_task_path(@project, section, task), method: :patch, local: true, class: "flex-grow" do |f| %>
                  <div class="flex w-full">
                    <div class="inline-flex items-center">
                      <label class="relative flex items-center rounded-full cursor-pointer">
                        <%= f.check_box :status,
                              { checked: task.status == "done",
                                onchange: "this.form.submit()",
                                class: "peer relative h-6 w-9 appearance-none rounded-xl border border-gray-400 transition-all checked:border-gray-400 checked:bg-gray-400 checked:before:opacity-0" },
                              "done", "pending" %>

                        <div class="pointer-events-none absolute left-2/4 top-2/4 -translate-x-2/4 -translate-y-2/4 text-white opacity-0 transition-opacity peer-checked:opacity-100">
                          <svg xmlns="http://www.w3.org/2000/svg" class="h-3.5 w-3.5" viewBox="0 0 20 20" fill="currentColor">
                            <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-7 7a1 1 0 01-1.414 0l-3-3a1 1 0 111.414-1.414L9 11.586l6.293-6.293a1 1 0 011.414 0z" clip-rule="evenodd" />
                          </svg>
                        </div>
                      </label>
                    </div>

                    <div class="flex flex-col ml-2 w-full"
                        data-action="click->trash-icon#showIcon"
                        data-trash-icon-target="task">
                      <%= f.text_field :title,
                          class: "w-full truncate whitespace-nowrap overflow-hidden focus:outline-none focus:bg-gray-100 border-gray-400 #{"line-through text-gray-500" if task.status == 'done'}",
                          value: task.title,
                          onchange: "this.form.submit()",
                          autocomplete: "off" %>

                      <%= f.text_field :description,
                          class: "w-full truncate whitespace-nowrap break-words overflow-hidden focus:outline-none focus:bg-gray-100 border-gray-400 text-gray-500 resize-none #{"line-through" if task.status == 'done'}",
                          value: task.description,
                          placeholder: "No description",
                          onchange: "this.form.submit()",
                          autocomplete: "off" %>
                    </div>
                  </div>
                <% end %>

                <div class="flex items-center justify-center">
                  <%= button_to [@project, section, task],
                        method: :delete,
                        class: "text-red-300 invisible m-3",
                        data: { trash_icon_target: "icon" } do %>
                    <i class="fa-solid fa-trash"></i>
                  <% end %>
                </div>
              </li>
            <% end %>
          </ul>

          <%= form_with model: [@project, section, @task], local: true do |f| %>
            <%= f.text_field :title,
                  placeholder: "Add a task",
                  autocomplete: "off",
                  class: "w-full whitespace-normal break-words focus:outline-none focus:border-b border-gray-400 text-gray-500 mt-3" %>
            <%= f.hidden_field :status, value: "pending" %>
            <%= f.submit "ADD", class: "mt-2" %>
          <% end %>
        </div>
      </li>
    <% end %>
  </ul>
</div>


<div>
  <%= form_with model: [@project, @section], local: true do |f| %>
    <%= f.text_field :title,
          placeholder: "Add a Section",
          autocomplete: "off",
          class: "w-full whitespace-normal break-words focus:outline-none focus:border-b border-gray-400 text-gray-500" %>
    <%= f.submit "ADD" %>
  <% end %>
</div>
